a.button-ref {
	padding: 0px 6px; border-radius: 4px; border: 1px solid rgb(237, 203, 70); height: 16px; color: rgb(167, 75, 0) !important; line-height: 16px; font-size: 11px; font-weight: normal; text-decoration: none; margin-left: 3px; display: inline-block; cursor: pointer; background-image: url("/images/mask2.png"); background-repeat: repeat-x; background-color: rgb(255, 246, 184); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
a.button-ref:hover {
	border-color: rgb(237, 203, 70); color: rgb(204, 53, 52) !important; background-image: url("/images/mask1.png"); background-repeat: repeat-x; background-color: rgb(234, 184, 31);
}
a.buttons {
	padding: 0px 6px; border-radius: 4px; border: 1px solid rgb(239, 183, 82); height: 16px; color: rgb(160, 1, 1) !important; line-height: 16px; font-size: 11px; font-weight: normal; text-decoration: none; margin-left: 3px; display: inline-block; cursor: pointer; background-image: url("/images/mask2.png"); background-repeat: repeat-x; background-color: rgb(234, 184, 31); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.dropDown {
	padding: 0px 6px; border-radius: 4px; border: 1px solid rgb(239, 183, 82); height: 16px; color: rgb(160, 1, 1) !important; line-height: 16px; font-size: 11px; font-weight: normal; text-decoration: none; margin-left: 3px; display: inline-block; cursor: pointer; background-image: url("/images/mask2.png"); background-repeat: repeat-x; background-color: rgb(234, 184, 31); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.dropDown ul.submenu {
	padding: 0px 6px; border-radius: 4px; border: 1px solid rgb(239, 183, 82); height: 16px; color: rgb(160, 1, 1) !important; line-height: 16px; font-size: 11px; font-weight: normal; text-decoration: none; margin-left: 3px; display: inline-block; cursor: pointer; background-image: url("/images/mask2.png"); background-repeat: repeat-x; background-color: rgb(234, 184, 31); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
a.buttons:hover {
	border-color: rgb(239, 183, 82); color: rgb(255, 255, 255) !important; background-image: url("/images/mask1.png"); background-repeat: repeat-x; background-color: rgb(234, 184, 31);
}
.dropDown:hover {
	border-color: rgb(239, 183, 82); color: rgb(255, 255, 255) !important; background-image: url("/images/mask1.png"); background-repeat: repeat-x; background-color: rgb(234, 184, 31);
}
ul.submenu li:hover {
	border-color: rgb(239, 183, 82); color: rgb(255, 255, 255) !important; background-image: url("/images/mask1.png"); background-repeat: repeat-x; background-color: rgb(234, 184, 31);
}
ul.submenu li a:hover {
	border-color: rgb(239, 183, 82); color: rgb(255, 255, 255) !important; background-image: url("/images/mask1.png"); background-repeat: repeat-x; background-color: rgb(234, 184, 31);
}
.dropDown {
	text-align: left; float: left; position: relative;
}
.dropDown span {
	padding-right: 12px; white-space: nowrap;
}
.dropDown::before {
	border-width: 4px 4px 0px; border-style: solid; border-color: rgb(72, 70, 70) transparent transparent; top: 6px; right: 6px; overflow: hidden; position: absolute; content: "";
}
.dropDown:hover::before {
	border-top-color: rgb(255, 255, 255);
}
.disabled.dropDown::before {
	border-top-color: rgb(160, 160, 160) !important;
}
.dropDown ul.submenu {
	list-style: none; margin: 0px -7px; padding: 0px; border-radius: 3px; height: auto; text-align: left; line-height: 12px; overflow: auto; clear: both; display: block; visibility: hidden; position: relative; z-index: 999999; -ms-overflow-x: hidden; max-height: 200px; box-shadow: 0px 1px 5px rgba(0,0,0,0.2); background-image: none; -webkit-border-radius: 3px; -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
@media not all
{
.dropDown ul.submenu {
	height: 0px;
}
}
.disabled.dropDown ul.submenu {
	visibility: hidden !important;
}
.dropDown ul[style*=visible].submenu {
	height: auto;
}
ul.submenu li {
	padding: 5px 20px 5px 5px; list-style-type: none; white-space: nowrap; cursor: pointer;
}
ul.submenu li a {
	color: inherit; text-decoration: none;
}
a.buttons2 {
	padding: 0px 6px; border-radius: 4px; border: 1px solid rgb(237, 171, 56); height: 16px; color: rgb(255, 255, 255) !important; line-height: 16px; font-size: 11px; font-weight: normal; text-decoration: none; margin-left: 3px; display: inline-block; cursor: pointer; background-image: url("/images/mask2.png"); background-repeat: repeat-x; background-color: rgb(241, 189, 40); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
a.buttons2:hover {
	border-color: rgb(237, 171, 56); color: rgb(151, 75, 0) !important; background-image: url("/images/mask1.png"); background-repeat: repeat-x; background-color: rgb(241, 189, 40);
}
a.button_pop {
	padding: 0px 5px; border-radius: 4px; border: 1px solid rgb(191, 189, 189); height: 16px !important; color: rgb(72, 70, 70); line-height: 16px !important; font-size: 11px; font-weight: normal; text-decoration: none; margin-top: 5px; margin-right: 2px; float: right; display: block; cursor: pointer; background-image: url("/images/mask2.png"); background-repeat: repeat-x; background-color: rgb(255, 255, 255); -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
a.button_pop:hover {
	border-color: rgb(144, 8, 8); color: rgb(255, 255, 255) !important; background-image: url("/images/mask1.png"); background-repeat: repeat-x; background-color: rgb(160, 3, 3);
}
#btnRefresh_L .iconRefresh {
	width: 14px; height: 15px; margin-top: 1px; margin-right: 0px; margin-left: 0px; vertical-align: bottom; display: inline-block; background-image: url("/images/icon_refresh.png"); background-repeat: no-repeat;
}
#btnRefresh_D .iconRefresh {
	width: 14px; height: 15px; margin-top: 1px; margin-right: 0px; margin-left: 0px; vertical-align: bottom; display: inline-block; background-image: url("/images/icon_refresh.png"); background-repeat: no-repeat;
}
#btnRefresh_D span {
	width: 36px; text-align: center; display: block;
}
#btnRefresh_L span {
	width: 36px; text-align: center; display: block;
}
#btnRefresh_D .wait.iconRefresh {
	margin-left: 2px;
}
#btnRefresh_L .wait.iconRefresh {
	margin-left: 2px;
}
#btnRefresh_D .wait.iconRefresh {
	background-image: url("/images/icon_refreshWait.gif"); background-color: transparent;
}
#btnRefresh_L .wait.iconRefresh {
	background-image: url("/images/icon_refreshWait.gif"); background-color: transparent;
}
#btnRefresh_L:hover .wait.iconRefresh {
	background-image: url("/images/icon_refreshWait.gif"); background-color: transparent;
}
#btnRefresh_D:hover .wait.iconRefresh {
	background-image: url("/images/icon_refreshWait.gif"); background-color: transparent;
}
a[name='btnRefresh_D'] .wait.iconRefresh {
	background-image: url("/images/icon_refreshWait.gif"); background-color: transparent;
}
a[name='btnRefresh'] .wait.iconRefresh {
	background-image: url("/images/icon_refreshWait.gif"); background-color: transparent;
}
a[name='btnRefresh_L'] .wait.iconRefresh {
	background-image: url("/images/icon_refreshWait.gif"); background-color: transparent;
}
a[name='btnRefresh_D']:hover .wait.iconRefresh {
	background-image: url("/images/icon_refreshWait.gif"); background-color: transparent;
}
a[name='btnRefresh_L']:hover .wait.iconRefresh {
	background-image: url("/images/icon_refreshWait.gif"); background-color: transparent;
}
a[name='btnRefresh']:hover .wait.iconRefresh {
	background-image: url("/images/icon_refreshWait.gif"); background-color: transparent;
}
a[name='btnRefresh_D'] .iconRefresh {
	width: 14px; height: 14px; margin-top: 1px; margin-right: -5px; margin-left: -5px; background-image: url("/images/icon_refreshs.png"); background-repeat: no-repeat;
}
a[name='btnRefresh_L'] .iconRefresh {
	width: 14px; height: 14px; margin-top: 1px; margin-right: -5px; margin-left: -5px; background-image: url("/images/icon_refreshs.png"); background-repeat: no-repeat;
}
a[name='btnRefresh'] .iconRefresh {
	width: 14px; height: 14px; margin-top: 1px; margin-right: -5px; margin-left: -5px; background-image: url("/images/icon_refreshs.png"); background-repeat: no-repeat;
}
a[name='btnRefresh_L'] .iconRefresh {
	background-position: left -20px; background-color: transparent;
}
#btnRefresh_L .iconRefresh {
	background-position: left -20px; background-color: transparent;
}
a[name='btnRefresh_L']:hover .iconRefresh {
	background-position: left -40px;
}
a[name='btnRefresh_D']:hover .iconRefresh {
	background-position: left -40px;
}
#btnRefresh_L:hover .iconRefresh {
	background-position: left -40px;
}
#btnRefresh_D:hover .iconRefresh {
	background-position: left -40px;
}
a[name='btnRefresh']:hover .iconRefresh {
	background-position: left -40px;
}
a.disabled.buttons {
	background: rgb(221, 221, 221); border-color: rgb(160, 160, 160); color: rgb(160, 160, 160) !important; cursor: default;
}
a.disabled.button-ref {
	background: rgb(221, 221, 221); border-color: rgb(160, 160, 160); color: rgb(160, 160, 160) !important; cursor: default;
}
.disabled.dropDown {
	background: rgb(221, 221, 221); border-color: rgb(160, 160, 160); color: rgb(160, 160, 160) !important; cursor: default;
}
a.disabled.button_pop {
	background: rgb(221, 221, 221); border-color: rgb(160, 160, 160); color: rgb(160, 160, 160) !important; cursor: default;
}
.titleSection a span {
	min-width: 35px;
}
.dropDown {
	
}
.icon.dropDown span {
	padding: 0px; margin-right: 6px;
}
.icon.dropDown ul {
	position: absolute;
}
.icon.dropDown .icon {
	background: url("/images/icon_select.png") no-repeat; width: 18px; height: 16px; margin-right: 5px; display: inline-block;
}
.icon.dropDown .submenu li {
	padding: 9px 8px 6px 30px; position: relative;
}
.icon.dropDown .submenu li span {
	left: 5px; top: 7px; position: absolute;
}
.icon.dropDown .DEC.icon {
	background-position: -175px -25px;
}
.dropDown:hover span > .DEC.icon {
	background-position: -175px 0px;
}
.icon.dropDown .submenu li:hover > .DEC.icon {
	background-position: -175px 0px;
}
.disabled.dropDown .DEC.icon {
	background-position: -175px -50px;
}
.disabled.dropDown:hover .DEC.icon {
	background-position: -175px -50px;
}
.icon.dropDown .HK.icon {
	background-position: -200px -25px;
}
.dropDown:hover span > .HK.icon {
	background-position: -200px 0px;
}
.icon.dropDown .submenu li:hover > .HK.icon {
	background-position: -200px 0px;
}
.disabled.dropDown .HK.icon {
	background-position: -200px -50px;
}
.disabled.dropDown:hover .HK.icon {
	background-position: -200px -50px;
}
.icon.dropDown .INDO.icon {
	background-position: -275px -25px;
}
.dropDown:hover span > .INDO.icon {
	background-position: -275px 0px;
}
.icon.dropDown .submenu li:hover > .INDO.icon {
	background-position: -275px 0px;
}
.disabled.dropDown .INDO.icon {
	background-position: -275px -50px;
}
.disabled.dropDown:hover .INDO.icon {
	background-position: -275px -50px;
}
.icon.dropDown .MY.icon {
	background-position: -150px -25px;
}
.dropDown:hover span > .MY.icon {
	background-position: -150px 0px;
}
.icon.dropDown .submenu li:hover > .MY.icon {
	background-position: -150px 0px;
}
.disabled.dropDown .MY.icon {
	background-position: -150px -50px;
}
.disabled.dropDown:hover .MY.icon {
	background-position: -150px -50px;
}
.icon.dropDown .US.icon {
	background-position: -300px -25px;
}
.dropDown:hover span > .US.icon {
	background-position: -300px 0px;
}
.icon.dropDown .submenu li:hover > .US.icon {
	background-position: -300px 0px;
}
.disabled.dropDown .US.icon {
	background-position: -300px -50px;
}
.disabled.dropDown:hover .US.icon {
	background-position: -300px -50px;
}
.icon.dropDown .SL.icon {
	background-position: -25px -25px;
}
.dropDown:hover span > .SL.icon {
	background-position: -25px 0px;
}
.icon.dropDown .submenu li:hover > .SL.icon {
	background-position: -25px 0px;
}
.disabled.dropDown .SL.icon {
	background-position: -25px -50px;
}
.disabled.dropDown:hover .SL.icon {
	background-position: -25px -50px;
}
.icon.dropDown .DL.icon {
	background-position: 0px -25px;
}
.dropDown:hover span > .DL.icon {
	
}
.icon.dropDown .submenu li:hover > .DL.icon {
	
}
.disabled.dropDown .DL.icon {
	background-position: 0px -50px;
}
.disabled.dropDown:hover .DL.icon {
	background-position: 0px -50px;
}
.icon.dropDown .FT.icon {
	background-position: -75px -25px;
}
.dropDown:hover span > .FT.icon {
	background-position: -75px 0px;
}
.icon.dropDown .submenu li:hover > .FT.icon {
	background-position: -75px 0px;
}
.disabled.dropDown .FT.icon {
	background-position: -75px -50px;
}
.disabled.dropDown:hover .FT.icon {
	background-position: -75px -50px;
}
.icon.dropDown .HT.icon {
	background-position: -50px -25px;
}
.dropDown:hover span > .HT.icon {
	background-position: -50px 0px;
}
.icon.dropDown .submenu li:hover > .HT.icon {
	background-position: -50px 0px;
}
.disabled.dropDown .HT.icon {
	background-position: -50px -50px;
}
.disabled.dropDown:hover .HT.icon {
	background-position: -50px -50px;
}
.icon.dropDown .ST.icon {
	background-position: -100px -25px;
}
.dropDown:hover span > .ST.icon {
	background-position: -100px 0px;
}
.icon.dropDown .submenu li:hover > .ST.icon {
	background-position: -100px 0px;
}
.disabled.dropDown .ST.icon {
	background-position: -100px -50px;
}
.disabled.dropDown:hover .ST.icon {
	background-position: -100px -50px;
}
.icon.dropDown .NO.icon {
	background-position: -125px -25px;
}
.dropDown:hover span > .NO.icon {
	background-position: -125px 0px;
}
.icon.dropDown .submenu li:hover > .NO.icon {
	background-position: -125px 0px;
}
.disabled.dropDown .NO.icon {
	background-position: -125px -50px;
}
.disabled.dropDown:hover .NO.icon {
	background-position: -125px -50px;
}
.icon.dropDown .All.icon {
	background-position: -225px -25px;
}
.dropDown:hover span > .All.icon {
	background-position: -225px 0px;
}
.icon.dropDown .submenu li:hover > .All.icon {
	background-position: -225px 0px;
}
.disabled.dropDown .All.icon {
	background-position: -225px -50px;
}
.disabled.dropDown:hover .All.icon {
	background-position: -225px -50px;
}
.icon.dropDown .Main.icon {
	background-position: -250px -25px;
}
.dropDown:hover span > .Main.icon {
	background-position: -250px 0px;
}
.icon.dropDown .submenu li:hover > .Main.icon {
	background-position: -250px 0px;
}
.disabled.dropDown .Main.icon {
	background-position: -250px -50px;
}
.disabled.dropDown:hover .Main.icon {
	background-position: -250px -50px;
}
